<h2 mat-dialog-title>Edit User</h2>
<form (ngSubmit)="save()" #editForm="ngForm" mat-dialog-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="editUser.userName" name="userName" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="editUser.email" name="email" required type="email" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Role</mat-label>
    <mat-select [(ngModel)]="editUser.role" name="role" required>
      <mat-option value="Admin">Admin</mat-option>
      <mat-option value="Customer">Customer</mat-option>
      <mat-option value="TheatreOwner">TheatreOwner</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Phone Number</mat-label>
    <input matInput [(ngModel)]="editUser.phoneNumber" name="phoneNumber" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="editUser.password" name="password" type="password" />
  </mat-form-field>

  <div mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancel()">Cancel</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="!editForm.form.valid">Save</button>
  </div>
</form>
