.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

mat-card {
    padding: 2rem;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.full-width {
    width: 100%;
    margin-bottom: 1rem;
}